@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--foreground);
  color: var(--background);
}

:root {
  /* Main Colors */
  --primary: #18428C;
  --secondary: #0288C3;

  /* Functional Colors */
  --info: #2482D6;
  --success: #2ECC71;
  --warning: #F2C94C;
  --error: #EB5757;
  --link: #2F80ED;
  --blueShade: #203AA1;
  --facebook: #0A66C2;

  /* Gray Scale */
  --gray1: #333333;
  --gray2: #4F4F4F;
  --gray3: #828282;
  --gray4: #BDBDBD;
  --gray5: #E0E0E0;
  --gray6: #F2F2F2;

  /* Default Light Mode Background/Text */
  --background: #FFFFFF;
  --text: #333333;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
     --text: #F3F4F6;
  }
}


